let baseConf = require('./baseConf');
global.zConfig = Object.assign({}, baseConf, {
    log: {
        url: false, //app.js控制台日志
        toolError: true,//commonUtils错误日志
        toolInfo: false//commonUtils信息日志
    },
    db: {
        mysql: {
            username: 'zyt',
            password: 'demo',
            database: 'zyt2',
            info: {
                dialect: 'mysql',
                dialectOptions: {
                    charset: 'utf8'
                },
                host: 'localhost',
                port: 3306
            },
            log: false,//日志
            model_path: '/src/models/mysql'
        },
        mysql_identity: {
            //本地隐私库
            username: 'zyt2_2',
            password: 'demo',
            database: 'zyt2_identity',
            info: {
                dialect: 'mysql',
                dialectOptions: {
                    charset: 'utf8'
                },
                host: 'localhost',
                port: 3306,
            },
            log: false,//日志
            model_path: '/src/models/identity'
        },
        mysql_old: {
            //zyt1.1
            username: 'zyt',
            password: 'demo',
            database: 'zyt',
            info: {
                dialect: 'mysql',
                dialectOptions: {
                    charset: 'utf8'
                },
                host: 'localhost',
                port: 3306,
            },
            isconn: true,
            log: false,//日志　
        },
        // mongodb 配置
        mongodb: {
            url: 'mongodb://localhost:27017/zyt2',
            log: false,//日志
            model_path: '/src/models/mongo'
        }
    },
    request: {
        websocket: {
            domain: "demo.z1t.co",
            prodServerPort: "8081",
            demoServerPort: "8081",
            devServerPort: "443",
            env: "dev",
            wsErrMsgDelay: 2
        },
        https: {
            ca: '/data/secure/gd_bundle-g2-g1.crt',
            key: '/data/secure/zhongyitang.key',
            cert: '/data/secure/79768ed634c14066.crt',
        },
        nologin: ['/', '/error', '/yyltest', '/admin/util', '/admin/db', '/admin/utils/initdb', 'admin/research']
    },
})